<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="FileLog" type="log4net.Appender.RollingFileAppender">           
      <file type="log4net.Util.PatternString" value="log/%property{ApplicationName}-" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd.lo\g" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />        
      <layout type="log4net.Layout.PatternLayout">
        <IgnoresException value="false" />
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%thread] %level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="FileLog" />
    </root>
  </log4net>
</configuration>